<div class="row m-0">
  <div class="my-4 mx-auto col-sm-6 card p-0">
    <div class="m-auto card-body">
      <h5 class="card-title text-center">Forgot Password</h5>
      <span>
        We will send mail to your Email ID with the new password. You can login
        using that password.
      </span>
      <input
        type="text"
        name="email"
        placeholder="Email"
        id="email"
        [(ngModel)]="emailid"
        class="form-control my-2 p-2"
        required
        [email]="emailid !== ''"
        pattern="^[a-zA-Z0-9_.+-]+@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(gmail|comprotechnologies)\.com$"
        #email="ngModel"
      />
      <span
        class="m-2 help-block"
        *ngIf="email.touched && email.errors?.required"
      >
        Email is required
      </span>
      <span class="m-2 help-block" *ngIf="email.errors?.email && email.touched">
        Email is invalid
      </span>
      <span
        class="m-2 help-block"
        *ngIf="!email.errors?.email && email.errors?.pattern && email.touched"
      >
        Domain is invalid
      </span>
    </div>
    <div class="card-footer text-center">
      <button (click)="sendmail()" class="btn btn-primary">
        Send Mail <i *ngIf="loader" class="fas fa-spinner fa-spin"></i>
      </button>
    </div>
  </div>
</div>
