<div class="mt-5 d-flex flex-column">
  <p class="font-weight-bold text-center">Login into DLS APPS</p>
  <div class=" mx-auto w-25 card card-container">
    <i class="p-2 text-center text-primary fas fa-7x fa-user-circle"></i>
    <form class="m-2 form-signin "#userForm="ngForm" (ngSubmit)="login(user)">
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Username"
        [(ngModel)]="user.username"
        class="form-control"
        required
        #username="ngModel"
      />
      <span class="help-block" *ngIf="username.touched && username.errors?.required">
        Username is required
      </span>
      <input
        type="password"
        id="inputPassword"
        class="my-1 form-control"
        placeholder="Password"
        required
        name="password"
        [(ngModel)]="user.password"
        #password="ngModel"
      />
      <span
        class="help-block"
        *ngIf="password.touched && password.errors?.required"
      >
        Password is required
      </span>
      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>
      <button
        class="btn btn-lg btn-primary btn-block"
        [disabled]="userForm.invalid"
        type="submit"
      >
        Sign in
      </button>
    </form>
    <span class="help-block" *ngIf="fail">
      Username or Password is incorrect
    </span>
    <a class="m-2 forgot-password"> Forgot the password? </a>
  </div>
</div>
