<div class="h-100 d-flex flex-column">
  <header class="noprint"></header>
  <div class="flex-grow-1"><router-outlet></router-outlet></div>

  <!-- <user-home></user-home> -->
  <!-- <login></login> -->
  <!-- <timein></timein> -->
  <!-- <apply-leave></apply-leave> -->
  <!-- <leave-status></leave-status> -->
  <!-- <error></error> -->
  <!-- <create-user></create-user> -->
  <!-- <remove-user></remove-user> -->
  <!-- <manage-leaves></manage-leaves> -->
  <!-- <report></report> -->
  <!-- <admin-home></admin-home> -->
  <footer class="noprint"></footer>
</div>
