<div class="row m-0">
  <div class="my-4 mx-auto col-md-8 card p-0">
    <div class="m-auto px-0 w-100 card-body">
      <h5 class="card-title text-center">Approve leaves</h5>
      <ngb-accordion
        [closeOthers]="true"
        (panelChange)="beforeChange($event)"
        #acc="ngbAccordion"
      >
        <ngb-panel id="applied" title="Applications for Leaves">
          <ng-template ngbPanelContent>
            <div class="p-2" *ngIf="pending_leaves.length == 0">
              No entries.
            </div>
            <form
              *ngFor="let leave_app of pending_leaves"
              class="py-1 row form-inline"
            >
              <label class="col-md-1" for="leavestart"
                >{{ leave_app.name }}:</label
              >
              <div class="form-group col-md-3">
                <div class="input-group">
                  <input
                    class="form-control"
                    name="start"
                    placeholder="yyyy-mm-dd"
                    [(ngModel)]="leave_app.dates.Lstart"
                    ngbDatepicker
                    #leavestart="ngbDatepicker"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary calendar"
                      (click)="leavestart.toggle()"
                      type="button"
                    >
                      <i class="far fa-calendar-alt"></i>
                    </button>
                  </div>
                </div>
              </div>
              <label for="leaveend" class="col-md-0">to</label>
              <div class="form-group col-md-3">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="end"
                    [(ngModel)]="leave_app.dates.Lend"
                    ngbDatepicker
                    #leaveend="ngbDatepicker"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary calendar"
                      (click)="leaveend.toggle()"
                      type="button"
                    >
                      <i class="far fa-calendar-alt"></i>
                    </button>
                  </div>
                </div>
              </div>
              <button
                type="button"
                class="btn btn-primary mb-1 col-md-2"
                (click)="approveTheLeave(leave_app)"
              >
                Approve
              </button>
              <button
                type="button"
                class="btn btn-primary  mb-1 ml-md-1 col-md-2"
                (click)="rejectTheLeave(leave_app)"
              >
                Reject
              </button>
            </form>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="approved" title="Approved Leaves">
          <ng-template ngbPanelContent>
            <div class="p-2" *ngIf="approved_leaves.length == 0">
              No entries.
            </div>
            <form
              *ngFor="let leave_app of approved_leaves"
              class="py-1 row form-inline"
            >
              <label class="col-md-1" for="leavestart"
                >{{ leave_app.name }}:</label
              >
              <div class="form-group col-md-3">
                <div class="input-group">
                  <input
                    class="form-control"
                    name="start"
                    placeholder="yyyy-mm-dd"
                    [(ngModel)]="leave_app.dates.Lstart"
                    disabled
                    ngbDatepicker
                    #leavestart="ngbDatepicker"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary calendar"
                      (click)="leavestart.toggle()"
                      type="button"
                    >
                      <i class="far fa-calendar-alt"></i>
                    </button>
                  </div>
                </div>
              </div>
              <label for="leaveend" class="col-md-1">to</label>
              <div class="form-group col-md-3">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="end"
                    disabled
                    [(ngModel)]="leave_app.dates.Lend"
                    ngbDatepicker
                    #leaveend="ngbDatepicker"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary calendar"
                      (click)="leaveend.toggle()"
                      type="button"
                    >
                      <i class="far fa-calendar-alt"></i>
                    </button>
                  </div>
                </div>
              </div>
              <button
                type="button"
                class="btn btn-primary ml-md-4 col-md-3"
                (click)="unapproveTheLeave(leave_app)"
              >
                Unapprove
              </button>
            </form>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>
