<div class="mt-1">
  <ngb-tabset>
    <ngb-tab title="Today's Time Entry">
      <ng-template ngbTabContent>
        <app-timein></app-timein>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Leave Application">
      <ng-template ngbTabContent>
        <app-leave></app-leave>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Manage Users">
      <ng-template ngbTabContent>
        <div class="row m-3">
          <div class="col-2 border-right border-primary">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a
                  class="nav-link"
                  [class.active]="activenav == 'createUser'"
                  (click)="activenav = 'createUser'"
                  >Create User</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [class.active]="activenav == 'removeUser'"
                  (click)="activenav = 'removeUser'"
                  >Remove User</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [class.active]="activenav == 'viewUser'"
                  (click)="activenav = 'viewUser'"
                  >View User</a
                >
              </li>
            </ul>
          </div>
          <div class="col-10 ">
            <div
              *ngIf="activenav == 'createUser'"
              class=" mx-auto w-75 card card-container"
            >
              <h5 class="card-title text-center pt-2 mb-0">
                Create new user for system
              </h5>
              <form class="p-3" #createForm="ngForm" (ngSubmit)="create(user)">
                <input
                  type="text"
                  id="username"
                  name="username"
                  placeholder="Username"
                  [(ngModel)]="user.username"
                  class="form-control my-2 p-2"
                  required
                  #username="ngModel"
                />
                <span
                  class="m-2 help-block"
                  *ngIf="username.touched && username.errors?.required"
                >
                  Username is required
                </span>
                <input
                  type="text"
                  name="email"
                  placeholder="Email"
                  id="email"
                  [(ngModel)]="user.email"
                  class="form-control my-2 p-2"
                  required
                  [email]="user.email !== ''"
                  pattern="^[a-zA-Z0-9_.+-]+@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(gmail)\.com$"
                  #email="ngModel"
                />
                <span
                  class="m-2 help-block"
                  *ngIf="email.touched && email.errors?.required"
                >
                  Email is required
                </span>
                <span
                  class="m-2 help-block"
                  *ngIf="email.errors?.email && email.touched"
                >
                  Email is invalid
                </span>
                <span
                  class="m-2 help-block"
                  *ngIf="
                    !email.errors?.email &&
                    email.errors?.pattern &&
                    email.touched
                  "
                >
                  Domain is invalid
                </span>
                <button
                  class="btn btn-lg btn-primary btn-block my-2"
                  [disabled]="createForm.invalid"
                  type="submit"
                >
                  Create
                </button>
              </form>
              <span class="mx-2 help-block" *ngIf="cfail">
                Sorry ! Please try again later. (Probably Email already exists.)
              </span>
              <span class="mx-2 text-primary" *ngIf="csuccess">
                User successfully created
              </span>
            </div>
            <div
              *ngIf="activenav == 'removeUser'"
              class=" mx-auto w-75 card card-container"
            >
              <h5 class="card-title text-center pt-2 mb-0">
                Remove users from system
              </h5>
              <form class="p-3" #removeForm="ngForm" (ngSubmit)="remove(user)">
                <ul class="list-group list-group-flush">
                  <li *ngFor="let user of allUsernames;let i = index" class="list-group-item">
                    <input type="checkbox" class="form-check-input" (click)="user.selected=!user.selected;"/>
                    {{ user.name }}
                  </li>
                </ul>
                <button
                  class="btn btn-lg btn-primary btn-block my-2"
                  [disabled]=""
                  type="submit"
                >
                  Remove
                </button>
              </form>
              <span class="mx-2 help-block" *ngIf="rfail">
                Sorry ! Please try again later.
              </span>
              <span class="mx-2 text-primary" *ngIf="rsuccess">
                <p [innerHTML]="removeResultString"></p>
              </span>
            </div>
            <div
              *ngIf="activenav == 'viewUser'"
              class=" mx-auto w-75 card card-container"
            >
              <h5 class="card-title text-center pt-2 mb-0">
                Display report for a user
              </h5>
              <form class="p-3" #removeForm="ngForm" (ngSubmit)="remove(user)">
                <select class="form-control">
                  <option *ngFor="let user of allUsernames;let i = index">{{ user.name }}</option>
                </select>
                <button
                  class="btn btn-lg btn-primary btn-block my-2"
                  [disabled]="removeForm.invalid"
                  type="submit"
                >
                  View
                </button>
              </form>
              
              <span class="mx-2 help-block" *ngIf="fail">
                Sorry ! Please try again later.
              </span>
              <span class="mx-2 text-primary" *ngIf="success">
                User successfully removed
              </span>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
